body {
  font-family: 'Futura';
  margin: 0;
  padding: 0;
  width: 100%;
}

header {
  padding: 20px;
  overflow: auto;
  background-color: #000;
  color: #fff;
}

section {

}

.optionWrap {
  display: inline-block;
}

.square {
  display: flex;
  flex: 1;
  float: left;
  border: 0.25px solid black;
  box-sizing: border-box;
  cursor: pointer;
}

.square:before {
  content: "";
  display: block;
  padding-top: 100%;
  float: left;
}

.square_inner {
  font-size: 6px;
  background-color: #fff;
  flex: 1;
  cursor: pointer;
  display: flex;
}

.square_text {
  box-sizing: border-box;
  flex-shrink: 1;
  position: absolute;
  padding: 1px;
  margin: 0;
  font-size: 1em;
}

.square_inner:hover {
  position: absolute;
  z-index: 10000;
  font-size: 8px;
  transform: scale(2);
  min-width: 20px;
  min-height: 20px;
  border: 2px solid black;
}

.square_inner:hover > .square_text {
  padding: 3px;
  position: relative;
}

.options {
  padding: 20px;
}

.optionInput {
  padding: 20px 0 0 0;
  display: inline;
}

.row {
  display: flex;
  width: 100%;
  /*overflow: auto;*/
}

/*.square_text:hover {
position: absolute;
font-size: 12px;
background-color: white;
border: 1px solid black;
}*/

.quadrant {
  border: 1px solid black;
  box-sizing: border-box;
  width: 50%;
  float: left;
}

.container {

}
